// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -




.bg-half-r
    left 60%
.bg-half-l
    right 60%


.soc
    margin -90px 0 0
    padding 10px
    flex-direction column
    position fixed
    top 50%
    right 0px
    background #FDA53A
    z-index 100
    &-ln
        margin 0



.gallery
    height 400px
