// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

body
    font-size 16px


.logo
    &-num
        margin-bottom -11px
        font-size 80px
    &-txt
        margin 11px 0 0 11px
        font-size 18px

/*
.nav
    // justify-content space-between
    &-ln
        width auto
        font-size 11px
*/

.header
    &-txt-a
        font-size 20px
    &-txt-b
        font-size 38px


.title
    font-size 36px


.nav-mobw
    display none !important


